<% layout("/layouts/boilerplate.ejs"); %>
<body>
    <div class="row">
        <div class="col-8 offset-2">
            <h2>Signup in STOP WANDERING</h2>
        <form method = "post" action = "/signup" novalidate class = "needs-validation">
                <div class = "mb-3">
                <label for = "username" class = "form-label">UserName :</label>
                <input type = "text" name = "user[username]" id = "username" class = "form-control" placeholder="Enter your Username" required/>
                <div class="valid-feedback">username looking unique</div>
                <div class="invalid-feedback">Please enter a valid username</div>
            </div>
                <div class = "mb-3">
                    <label for = "Email" class = "form-label">Email :</label>
                    <input type = "email" name = "user[email]" id = "Email" class = "form-control" placeholder="Enter your Email" required/>
                    <div class="valid-feedback">Email looks Good</div>
                    <div class="invalid-feedback">Please enter a valid email</div>    
                </div>
                    <div class = "mb-3">
                        <label for = "password" class = "form-label">Password :</label>
                        <input type = "password" name = "user[password]" id = "password" class = "form-control" placeholder="Enter your password" required/>
                        <div class="valid-feedback">don't share your password with others</div>
                        <div class="invalid-feedback">Please enter a strong password</div>
                        </div>
                        <button class = "btn btn-outline-primary">SignUp</button>
        </form>
        </div>
    </div>
        

</body>
